# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# =============== #
# Keep repo clean #
# =============== #

WorkingFiles/
Screenshots/
Assets/ThirdParty/ShaderForge
Assets/ThirdParty/AmplifyShaderEditor

# Build
Build/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.mayaSwatches/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db